<form action="/login" class="form-horizontal" method="post">
  <fieldset>	
    <legend>Sign in / Sign up</legend>
	<br />
	<div class="alert alert-info">
	  <p style="margin:0;">If you're a first time user, you will be registered <strong>AND</strong> logged in. 
		<br />Otherwise you'll just be logged in. No email confirmation schennanigans.</p>
	</div>
	{{#if login_error}}
	<div class="alert alert-error">
	  <p style="margin:0;">Sorry, your password is not correct!</p>
	</div>
  	{{/if}}
    <div class="control-group">
      <label class="control-label" for="username">Username:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="username" id="username" value="{{username}}">
        <p class="help-block">Something generic, like "me". Nah, just kidding.</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password:</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="password" id="password" value="">
        <p class="help-block">Should be easily guessable. Like "123456". Seriously, we <strong>DARE</strong> you.</p>
      </div>
    </div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Sign up/in</button>
		<a data-toggle="modal" href="#myModal" class="btn btn-danger">Don't push this button!</a>
	</div>
  </fieldset>
</form>

<div class="modal" id="myModal" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h2>You just couldn't resist, could you?</h2>
  </div>
  <div class="modal-body" style="text-align:center">
	<img src="/images/double-facepalm.jpg" alt="Facepalm" />
  </div>
  <div class="modal-footer">
	<p>Just kidding, we knew you'd do it :)</p>
  </div>
</div>