body {
	/* padding: 50px; */
	/* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
	background-color: #8599a6; 
	font-family:"Arial",Georgia,Serif;
	padding-top:80px;
}
.navbar-inner {
	background:#403737;
}

.dropshadow{
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
	
}

.dropshadowinset{
	box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.70);
	-moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.70);
	-webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.70);	
}

div.header{
	width:100%;
	height:100px;
	background-color: #403737;  	
}

div.logo{
	position:absolute;	
	width: 50px;
	height:50px;
	top: 2%;
	left:2%;
	border-width:3px;
  	border-style:solid;
  	border-color:#ff9900;
}

div.searchbox{
	position:absolute;
	left:100px;
	top:30px;
}

div.related{
	position:absolute;
	padding: 20px;
	top:100px;
	width:160px;	
   	right:20px;	  	
  	height:230px;	
  	z-index: -10;
	background-color: white;   	
  }
div.titlebox {
	padding:30px 0 0 0;
}
h1.titlebox{
	text-align: center;	
	font-size: 5em;
	line-height:1.2;
	padding: 20px;
	color: #e54d2e; 	
}
h2.titlebox{
	text-align: center;
	font-size:18px;
	line-height:1.3;
	padding:0 20px;
}

div.scorbar{
	margin:0 -50px;
	padding:0;
	background-color: #403737; 
	position:relative;
	height:150px;
}
h2.procent {
	position: absolute;
	color:#fff;
	font-size: 4em;	
	line-height:150px;
	
}
h2.procent.left {
	left:20px;
}
h2.procent.right {
	right:20px;
}
.opinions {
	top:-160px;
	position:relative;
	z-index:200;
	margin-left:0 !important;
}
div.proHeader{	
	background-color: #403737; 
	padding: 15px; 
	top: 53px;
	position:absolute;
	z-index: 10;
	margin-left: 15px;
}
div.proHeader h2, div.conHeader h2 {
	color:#fff;
	font-size: 4em;
}

div.conHeader{	
	background-color: #403737; 
	padding: 15px; 
	top: 53px;
	position:absolute;
	z-index: 10;
	margin-left: 15px;		
}

div.buttonAdd{
	background-color: #e54d2e; 
	padding: 8px; 
	top: 65px;
	position:absolute;
	z-index: 10;	
	right:15px;			
}

div.buttonAdd a{
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	margin-left: 5px;	
}

div.titlebox{
	background-color: white; 
  	/* min-height:330px; */
	padding-bottom:50px;
}

div.votesPoints{
	position:relative;
	left:20px;
	top:20px;
	height: 36px; 
	width: 81px;
	font: small;		
}
div.links{
	padding-top: 20px;
	margin: 0px;
	width: 900px; 
  	left:200px; 
	height: 40px;
	top:240;	
  	text-align:center;  
	background-color: white;   	   	
}

div.links a{
	font-size: 1.5em;
	padding: 10px;
}



div.pro{
	position:relative;
	min-height: 400px;
	background-color: white;   	
}

div.commentContainer{
	margin:130px 15px 0 15px;
}
div.commentContainer form {
	margin:20px 0;
}
div.commentContainer form textarea{
	width:260px;
}
.holder {
	text-align:right;
}
div.commentBoks{
	padding: 5px;
}
.input-xxlarge {
	height:100px;
}
div.footer{
	bottom:0%;
	width:100%;
	height:100px;
	background-color: #403737;    	
}



